{{outlet}}
<div class="container">
    <h1 class="text-center">OOPS!!! There is some problem with connectivity...</h1>
    <h2 class="text-center">Please try again...</h2>
    <div class="text-center">
        <input class="btn btn-primary" type="button" {{action "tryAgain"}} value="Try again">
    </div>
</div>

